
.search-icon {
  position: relative; 
  height: 32px; 
  width: 32px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.search-icon:hover {
  color: #02ffa1;
}


.search-bar {
  position: absolute;
  top: 50px; 
  right: 0; 
  background-color: #141414;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 
}


.search-bar__input {
  width: 200px;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #1f1f1f;
  border-radius: 5px;
  font-size: 14px;
}

.search-bar__input::placeholder {
  color: #888;
}