
.search-icon {
  position: relative; 
  height: 32px; 
  width: 32px;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.search-icon:hover {
  color: #02ffa1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; 
}