.search-icon__image {
  height: 36px; /* Tamaño del ícono */
  width: 36px;
  cursor: pointer;
  color: white; /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease;
}

.search-icon__image:hover {
  color: #02ffa1; /* Cambia el color al pasar el mouse */
}

.search-bar {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #141414;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.search-bar__input {
  width: 200px;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #1f1f1f;
  border-radius: 5px;
}

.search-bar__input::placeholder {
  color: #888;
}