.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__toggle {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  transition: color 0.3s ease;
}

.dropdown__toggle:hover,
.dropdown__toggle.active,
.dropdown__toggle:focus {
  outline: none;
}
.dropdown__toggle:hover,
.dropdown__toggle.active {
  color: #02ffa1;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #141426;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 250px;
  box-sizing: border-box;
}

.dropdown__menu li {
  list-style: none;
  margin: 0;
}

.dropdown__menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.dropdown__menu a:hover {
  background-color: #060613;
}

.dropdown__menu li.the-filmin-times {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 5px 0;
  margin: 10px 0;
}

.dropdown__menu li.the-filmin-times a {
  padding-top: 20px;
  padding-bottom: 20px;
}