

.slider-container {
  height: 95vh; 
  position: relative;
  background-color: #000; 
  justify-content: flex-start;
  overflow: hidden;
}

.slider-card { 
  height: 100%; 
  background-size: cover; 
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  color: white;
  position: relative;
  z-index: 1;

}


.slider-overlay {
  position: absolute;
  width: 100%; 
  height: 100%; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  z-index: 0;
}


.slider-card-content {
  position: relative;
  z-index: 3;
  max-width: 600px; 
  text-align: left; 
  transition: opacity 0.3s ease;
  opacity: 1; 
  padding-left: 50px; 
}


.tag.exclusive {
  background-color: #00ff84;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

.tag {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 10px;
}

.slider-title {
  font-size: 3rem;
  font-weight: bold; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}


.slider-subtitle {
  font-size: 1.5rem;
  color: #93959c;  
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.slider-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0; 
  margin-bottom: 20px; 

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -20px; 
}

a {
text-decoration: none;
color: #000;
}

.slider-button:hover {
  background-color: #93959c;
  color: #000;
}


 

.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%; 
}


.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}


.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #02ffa1;
}

.slider-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: #02ffa1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}





















 










