
/* Contenedor principal del slider */
.slider-container {
  width: 100%; /* Asegura que el slider ocupe todo el ancho */
  height: 95vh; /* Asegura que el slider ocupe toda la altura */
  position: relative;
  background-color: #000; /* Fondo por si la imagen no carga */
  justify-content: flex-start;
  overflow: hidden;
}
.trailer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Fondo negro mientras carga el video */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Tarjeta del slider */
.slider-card { 
  height: 100%; /* Asegura que cada tarjeta cubra toda la altura */
  background-size: cover; /* Ajusta la imagen para cubrir el área */
  background-position: center; /* Centra la imagen dentro de la tarjeta */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Coloca el contenido en la parte inferior */
  
  color: white;
  position: relative;
  z-index: 1;

}

/* Capa oscura del slider */
.slider-overlay {
  position: absolute;
  width: 100%; /* Cubre todo el ancho */
  height: 100%; /* Cubre toda la altura */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)); /* Gradiente oscuro */
  z-index: 0;
}

/* Contenido de la tarjeta */
.slider-card-content {
  position: relative;
  z-index: 3; /* Asegura que el contenido esté sobre el overlay */
  max-width: 600px; /* Limita el ancho del contenido */
  text-align: left; /* Alinea el contenido a la izquierda */
  transition: opacity 0.3s ease;
  opacity: 1; /* Mantén siempre visible */
}

/* Cartel "ESTRENO EXCLUSIVO" */
.tag.exclusive {
  background-color: #00ff84; /* Color verde del cartel */
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
/* Temporada */
.tag {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 10px; /* Espaciado entre los tags */
}
/* Título del slider */
.slider-title {
  font-size: 3rem;
  font-weight: bold; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

/* Subtítulo */
.slider-subtitle {
  font-size: 1.5rem;
  color: #93959c;  
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
/* Botón de acción */
.slider-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  background-color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 20px; /* Agrega un margen inferior para separarlo del borde */
  /* Sombra del botón */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Permite ajustes específicos */
  top: -20px; /* Ajusta hacia arriba */
}

.slider-button:hover {
  background-color: #93959c;
  color: #000;
}
 
/* Ajuste de Swiper */
.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Asegura que Swiper ocupe todo el ancho */
  height: 100%; /* Asegura que Swiper ocupe toda la altura */
}

/* Pagination Styles (from Swiper) */
.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Pagination Styles (from Swiper) */
.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #02ffa1;
}
/* Logo Styles for Central Logo */
.slider-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: #02ffa1;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}



.react-player {
  width: 100% !important; /* Asegura que el reproductor ocupe todo el ancho */
  height: 100% !important; /* Asegura que el reproductor ocupe toda la altura */
}




















 










